pi/nodered/data/Positionsdatenabfrage.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "fb1d57aa93a5ad8b",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "server": "",
        "client": "1698a3fadda02d7c",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "5fdcccf626aa89fd",
        "type": "websocket in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "server": "",
        "client": "1698a3fadda02d7c",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "9ca87d1ba69d4097"
            ]
        ]
    },
    {
        "id": "e40853f79355bbfb",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Positionsdaten abfragen",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"topic\":\"REGISTER\", \"payload\":[\"POSITIONS\"] }",
        "payloadType": "json",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "fb1d57aa93a5ad8b"
            ]
        ]
    },
    {
        "id": "9ca87d1ba69d4097",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Positionsdaten auslesen",
        "func": "const targetAddress = \"8121069331292357553\";\n\n// Wenn payload ein String ist → JSON parsen\nlet data;\ntry {\n    data = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : msg;\n} catch (e) {\n    node.error(\"Ungültiges JSON: \" + e.message);\n    return null;\n}\n\n// Sonderfall: AUTHORIZE_RESP prüfen\nif (\n    data.topic === \"AUTHORIZE_RESP\" &&\n    data.payload &&\n    typeof data.payload.message === \"string\" &&\n    typeof data.payload.code === \"number\"\n) {\n    return {payload: data.payload.message};\n}\n\n// Normalfall: POSITIONS-Daten verarbeiten\nif (Array.isArray(data.payload)) {\n    const matching = data.payload\n        .filter(p => p.address === targetAddress)\n        .map(p => ({\n            x: p.x,\n            y: p.y,\n            z: p.z\n        }));\n\n    return { payload: matching };\n} else {\n    node.warn(\"data.payload ist kein Array\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "3ee92a2872ee2f97"
            ]
        ]
    },
    {
        "id": "3ee92a2872ee2f97",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "7c79b17ed51e4a63",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "API Key jede 55min abfragen",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "6a97418779e579c2"
            ]
        ]
    },
    {
        "id": "516fcb2cca8a9f3d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "API Key request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://192.168.130.2:8083/rest/oauth/authorization/unauth-token",
        "tls": "837867b2b71fb692",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "e5b819198f6a56c8"
            ]
        ]
    },
    {
        "id": "6a97418779e579c2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "body",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.payload =\n    \"grant_type=password\" +\n    \"&client_id=3039379a-119f-467c-8f94-6ea02b764b99\" +\n    \"&username=zigpos\" +\n    \"&password=zigpos\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 580,
        "wires": [
            [
                "516fcb2cca8a9f3d"
            ]
        ]
    },
    {
        "id": "e5b819198f6a56c8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "extract API Key",
        "func": "const token = msg.payload.access_token;\n\nmsg.payload = {\n    topic: \"AUTHORIZE\",\n    payload: token\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 580,
        "wires": [
            [
                "fb1d57aa93a5ad8b"
            ]
        ]
    },
    {
        "id": "1698a3fadda02d7c",
        "type": "websocket-client",
        "path": "wss://192.168.130.2:8083/rest/socket",
        "tls": "837867b2b71fb692",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "837867b2b71fb692",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]